<form action="" [formGroup]="emailFrm" (ngSubmit)="onFormSubmit()">
    <input type="text" formControlName="email">
    <div class="text-danger" *ngIf="!emailFrm.valid && (emailFrm.dirty || emailFrm.touched)">
        <!-- <span *ngIf="emailFrm.controls['email'].errors?.['required']">Email is required</span> -->
        <span *ngIf="email?.errors?.['required']">email is required</span>
        <span *ngIf="email?.errors?.['pattern']">Put a valid email please!</span>
    </div>
    <input type="text" formControlName="fullName">
    <div class="text-danger" *ngIf="!emailFrm.valid && (emailFrm.dirty || emailFrm.touched)">
        <!-- <span *ngIf="emailFrm.controls['email'].errors?.['required']">Email is required</span> -->
        <span *ngIf="fullName?.errors?.['required']">email is required</span>
        <span *ngIf="fullName?.errors?.['pattern']">Put a valid name please!</span>
        <span *ngIf="fullName?.errors?.['minlength']">must me at least 5 !</span>
    </div>
    <button class="btn btn-primary" [disabled]="!emailFrm.valid" type="submit">Submit</button>
</form>